@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


body {
    font-size: 14;
    font-family: 'Noto Sans', sans-serif;
}
header {
    height: 100px;
    padding:6px 20px  0  20px;
    display:grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #alert {
      padding-top: 33px;
      text-align: center;
      color: #1c87c9;
      font-weight: bold;
      
  }
 
    
 .openBtn {
    display: grid;
    grid-column: 3;
    padding: 15px 20px 0 20px;
  }

 .wrapper {
    display:grid;
    grid-template-columns:1fr 3fr;
    grid-template-rows: 2;
    grid-gap:1em;
    justify-items:stretch;
    align-items: stretch;
  }

  .wrapper > div{
    
    padding:1em;
  }
  .suggested {
    border: 4px solid #cc0000;
    height: 60px;
    background-color: white;
    
  }
  .yourbooks {
    border: 4px solid #8ebf42;
    height: 60px;
    background-color: white;
  }
  
  .goodbooks {
    display: grid;
    border: #cc0000 6px solid;
    grid-gap: 1em;
  }

  
   #sugfirst{
      display:grid;
      grid-template-columns: 3fr 1fr;
      grid-auto-rows: minmax(30px, 60px);
      border: #333 1px solid;
      padding: 0 1em 1em 1em;
      background-color: white;
   }
  .gridcontainer {
    background-color:white;
    border: #8ebf42  6px solid;
    grid-column: 2 ;
    grid-row: 2 / 4;
  }
  #grid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, 200px);
   
 }
  .book{
      display:grid;
      grid-template-columns: 3fr 1fr;
      grid-auto-rows: minmax(30px, 60px);
      border: #333 1px solid;
      padding: 0 1em 1em 1em;
      background-color: white;
     
  }
  .readitsticker{
    display:grid;
    grid-column:2;
    grid-row: 1 / 5;
    height: 25px;
    width: 25px;
    border: 25px solid #b242bf;
    border-bottom: 20px solid transparent;
    position: relative;
    top: 3px;
    right: 3px;
    text-align:top;

}
.inside{
  position:absolute;
  top: -37px;
  left: -20px;
  color: white;
}

  .genre{
    display:grid;
    grid-column: 1;
    grid-row: 1;
    
    position: relative;
    top: -28px;
    left: 10px;
    width:fit-content;
    z-index: 9;
    background-color: white;
    font-weight:500;
  }
  .dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
.title {
    display:grid;
    grid-column: 1;
    grid-row: 2;
}
.author {
    display: grid;
    grid-column: 1;
    grid-row: 3;
}
  .deletebookbutton{
    display: grid;
    grid-column: 1;
    grid-row: 4;
    padding: 10px 2px;
    border:none;
    border-radius: 5px;
    background-color: #cc0000;
    color: #fff;
    cursor: pointer;
    width: 50%;
    height: 35px;
    opacity: 0.8;

  }
 
  .deletebookbutton:hover{
      opacity: 1;
  }
  .pressifreadbutton{
    display: grid;
    grid-column: 2;
    grid-row: 4;
    padding: 10px ;
    border:none;
    border-radius: 5px;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 35px;
    height: 35px;
    opacity: 0.8;
    font-size: 11px;
    

  }
  .pressifreadbutton:hover{
     opacity: 1;
  }


 
/* Form styling */  
  * {
    box-sizing: border-box;
  }
  .openButton {
    border: none;
    border-radius: 5px;
    background-color: #3C9EE7;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    position: fixed;
  }
  .enterBookPopup {
    position: relative;
    text-align: center;
    width: 100%;
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
  }
  .formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
  }
  .formContainer input[type=text]{
    width: 90%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
  }
  .formContainer input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }
  .formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  .formContainer .cancel {
    background-color: #cc0000;
  }
  .formContainer .btn:hover,
  .openButton:hover {
    opacity: 1;
  }