@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


body {
    font-size: 14;
    font-family: 'Noto Sans', sans-serif;
}
header {
    height: 100px;
    padding:6px 20px  0  20px;
    display:grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #alert {
      padding-top: 33px;
      text-align: center;
      color: #1c87c9;
      font-weight: bold;
      
  }
 .openBtn {
    display: grid;
    grid-column: 3;
    padding: 15px 20px 0 20px;
  }

 .wrapper {
    display:grid;
    grid-template-columns:1fr 3fr;
    grid-template-rows: 2;
    grid-gap:1em;
    justify-items:stretch;
    align-items:stretch;
  }

  .wrapper > div{
    
    padding:1em;
  }
  .box1 {
    border: 4px solid #cc0000;
    height: 60px;
    background-color: white;
    
  }
  .box2 {
    border: 4px solid #8ebf42;
    height: 60px;
    background-color: white;
  }
  .gridcontainer {
    background-color:white;
    border: #8ebf42  6px solid;
    grid-column: 2 ;
    grid-row: 2 / 4;
  }
  #grid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    grid-auto-rows: 175px;
   
 }
  #grid > div{
      border: #333 1px solid;
      padding: 1em;
      background-color: white;
     
  }
  #grid >div >button{
    padding: 12px 20px;
    border:none;
    border-radius: 5px;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 50%;
    opacity: 0.8;

  }
  #grid >div >button:hover{
      opacity: 1;
  }

  .box3 {
    display: grid;
    border: #cc0000 6px solid;
    grid-auto-rows: 175px;
    grid-gap: 1em;
  }

  .box3  >div {
      background-color:white;
      border: black 1px solid;
      padding:1em;
  }
/* Form styling */  
  * {
    box-sizing: border-box;
  }
  .openButton {
    border: none;
    border-radius: 5px;
    background-color: #1c87c9;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    position: fixed;
  }
  .enterBookPopup {
    position: relative;
    text-align: center;
    width: 100%;
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
  }
  .formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
  }
  .formContainer input[type=text]{
    width: 90%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
  }
  .formContainer input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }
  .formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  .formContainer .cancel {
    background-color: #cc0000;
  }
  .formContainer .btn:hover,
  .openButton:hover {
    opacity: 1;
  }