@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    font-size: 14;
    font-family: 'Noto Sans', sans-serif;
}
header {
    height: 100px;
    padding:6px 20px  0  20px;
    display:grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #alert {
      padding-top: 33px;
      text-align: center;
      color: #1c87c9;
      font-weight: bold;
      
  }
 .openBtn {
    display: grid;
    grid-column: 3;
    padding: 15px 20px 0 20px;
  }

 .wrapper {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-auto-rows:minmax(100px, auto);
    grid-gap:1em;
    justify-items:stretch;
    align-items:stretch;
  }

  .wrapper > div{
    background:#eee;
    padding:1em;
  }
  .box1 {
      border: 2px solid black;
      height: 60px;
  }
  
  }

  * {
    box-sizing: border-box;
  }
  .openButton {
    border: none;
    border-radius: 5px;
    background-color: #1c87c9;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    position: fixed;
  }
  .enterBookPopup {
    position: relative;
    text-align: center;
    width: 100%;
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
  }
  .formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
  }
  .formContainer input[type=text]{
    width: 90%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
  }
  .formContainer input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }
  .formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  .formContainer .cancel {
    background-color: #cc0000;
  }
  .formContainer .btn:hover,
  .openButton:hover {
    opacity: 1;
  }